<div class="home-container">
    <div class="home-head">
        <a ui-sref="app.skin"><</a><p>相册</p><a></a><a ui-sref="app.vip">···</a>
    </div>
    <div class="skin">
        <div class="pic">
            <p><img src="./src/images/bg1.png" ></p>
            <span class="empty2"></span>
            <p><img src="./src/images/bg2.png" ></p>
            <span class="empty2"></span>
            <p><img src="./src/images/bg3.png" ></p>
        </div>
        <div class="pic">
            <p><img src="./src/images/bg4.png" ></p>
            <span class="empty2"></span>
            <p><img src="./src/images/bg5.png" ></p>
            <span class="empty2"></span>
            <p><img src="./src/images/bg6.png" ></p>
        </div>
    </div>
</div>