<div class="home-container">
    <div class="home-head">
        <a ui-sref="app.skin"><</a><p>自定义皮肤</p><a></a><a ui-sref="app.vip">···</a>
    </div>
    <div class="skin">
        <h5>从相册中选择<a ui-sref="app.album">></a></h5>
    </div>
</div>
