<div class="home-container">
    <div class="home-head">
        <a ui-sref="app.skin"><</a><p>默认皮肤</p><a></a><a ui-sref="app.vip">···</a>
    </div>
    <div class="defaults">
        <span class="empty2"></span>
        <dl>
            <dt><img src="./src/images/indoor.png"></dt>
            <dd>室内</dd>
        </dl>
        <span class="empty2"></span>
        <dl>
            <dt><img src="./src/images/fff.png"></dt>
            <dd>室外</dd>
        </dl>
        <span class="empty2"></span>
        <dl>
            <dt><img src="./src/images/outdoor.png"></dt>
            <dd>夜间</dd>
        </dl>
        <span class="empty2"></span>
    </div>
</div>