<div class="home-container">
    <div class="home-head">
        <p>首页</p><a></a><a ui-sref="app.vip">···</a>
    </div>
    <div class="home-content">
        <div class="home-main">
            <div class="home-banner swiper-container">
                <ul class="swiper-wrapper">
                    <li class="swiper-slide"><img src="./src/images/banner6.png" ></li>
                    <li class="swiper-slide"><img src="./src/images/banner6.png" ></li>
                    <li class="swiper-slide"><img src="./src/images/banner6.png" ></li>
                </ul>
            </div>
            <div class="title">
                <h2>热门推荐</h2>
            </div>
            <div class="home-list">
                <div class="empty"></div>
                <dl>
                    <dt><img src="./src/images/img3.png"><span>全集59集</span></dt>
                    <dd>
                        <h4>陆贞传奇</h4>
                        <p>讲述了北齐王朝女官陆贞...</p>
                    </dd>
                </dl>
                <div class="empty"></div>
                <dl>
                    <dt><img src="./src/images/img4.png"><span>1期全</span></dt>
                    <dd>
                        <h4>大笑江湖</h4>
                        <p>吴迪(小沈阳 饰)以修鞋为...</p>
                    </dd>
                </dl>
                <div class="empty"></div>
            </div>
            <div class="home-list">
                <div class="empty"></div>
                <dl>
                    <dt><img src="./src/images/img21.png"><span>全集6集</span></dt>
                    <dd>
                        <h4>恋空</h4>
                        <p>2000年夏，普通高中一年级...</p>
                    </dd>
                </dl>
                <div class="empty"></div>
                <dl>
                    <dt><img src="./src/images/img2.png"><span>全集19集</span></dt>
                    <dd>
                        <h4>继承者们</h4>
                        <p>王子与灰姑娘的故事...</p>
                    </dd>
                </dl>
                <div class="empty"></div>
            </div>
            <div class="home-list">
                <div class="empty"></div>
                <dl>
                    <dt><img src="./src/images/img3.png"><span>全集59集</span></dt>
                    <dd>
                        <h4>陆贞传奇</h4>
                        <p>讲述了北齐王朝女官陆贞...</p>
                    </dd>
                </dl>
                <div class="empty"></div>
                <dl>
                    <dt><img src="./src/images/img4.png"><span>1期全</span></dt>
                    <dd>
                        <h4>大笑江湖</h4>
                        <p>吴迪(小沈阳 饰)以修鞋为...</p>
                    </dd>
                </dl>
                <div class="empty"></div>
            </div>
            <div class="home-list">
                <div class="empty"></div>
                <dl>
                    <dt><img src="./src/images/img21.png"><span>全集6集</span></dt>
                    <dd>
                        <h4>恋空</h4>
                        <p>2000年夏，普通高中一年级...</p>
                    </dd>
                </dl>
                <div class="empty"></div>
                <dl>
                    <dt><img src="./src/images/img2.png"><span>全集19集</span></dt>
                    <dd>
                        <h4>继承者们</h4>
                        <p>王子与灰姑娘的故事...</p>
                    </dd>
                </dl>
                <div class="empty"></div>
            </div>
        </div>
    </div>
</div>

