<div class="home-container">
    <div class="home-head">
        <a ui-sref="app.home"><</a><p>皮肤</p><a></a><a ui-sref="app.vip">···</a>
    </div>
    <div class="skin">
        <h5>默认皮肤<a ui-sref="app.default-skin">></a></h5>
        <h5>自定义皮肤<a ui-sref="app.custom-skin">></a></h5>
    </div>
</div>