<div class="home-container">
    <div class="home-head">
        <a ui-sref="app.home"><</a><p>VIP</p><a></a><a ui-sref="app.skin">···</a>
    </div>
    <div class="home-content">
        <div class="home-main">
            <div class="home-banner swiper-container">
                <ul class="swiper-wrapper">
                    <li class="swiper-slide"><img src="./src/images/banner.png" ></li>
                    <li class="swiper-slide"><img src="./src/images/banner.png" ></li>
                    <li class="swiper-slide"><img src="./src/images/banner.png" ></li>
                </ul>
            </div>
            <div class="title">
                <h3>加勒比海盗</h3>
                <p>17世纪，传说中海盗最为活跃的加勒比海。风趣迷人...</p>
                <p>价格：<span>免费</span></p>
            </div>
            <div class="home-list">
                <div class="empty"></div>
                <dl>
                    <dt><img src="./src/images/img1.png"><span>全集42集</span></dt>
                    <dd>
                        <h4>魔幻手机</h4>
                        <p>公元2060年，手机已经拥有...</p>
                        <p>价格：<span>0.3元</span></p>
                    </dd>
                </dl>
                <div class="empty"></div>
                <dl>
                    <dt><img src="./src/images/img2.png"><span>全集19集</span></dt>
                    <dd>
                        <h4>继承者们</h4>
                        <p>王子与灰姑娘的故事...</p>
                        <p>价格：<span>免费</span></p>
                    </dd>
                </dl>
                <div class="empty"></div>
            </div>
            <div class="home-list">
                <div class="empty"></div>
                <dl>
                    <dt><img src="./src/images/img3.png"><span>全集59集</span></dt>
                    <dd>
                        <h4>陆贞传奇</h4>
                        <p>讲述了北齐王朝女官陆贞...</p>
                        <p>价格：<span>0.5</span></p>
                    </dd>
                </dl>
                <div class="empty"></div>
                <dl>
                    <dt><img src="./src/images/img4.png"><span>1期全</span></dt>
                    <dd>
                        <h4>大笑江湖</h4>
                        <p>吴迪(小沈阳 饰)以修鞋为...</p>
                        <p>价格：<span>0.3</span></p>
                    </dd>
                </dl>
                <div class="empty"></div>
            </div>
            <div class="home-list">
                <div class="empty"></div>
                <dl>
                    <dt><img src="./src/images/img1.png"><span>全集42集</span></dt>
                    <dd>
                        <h4>魔幻手机</h4>
                        <p>公元2060年，手机已经拥有...</p>
                        <p>价格：<span>0.3元</span></p>
                    </dd>
                </dl>
                <div class="empty"></div>
                <dl>
                    <dt><img src="./src/images/img2.png"><span>全集19集</span></dt>
                    <dd>
                        <h4>继承者们</h4>
                        <p>王子与灰姑娘的故事...</p>
                        <p>价格：<span>免费</span></p>
                    </dd>
                </dl>
                <div class="empty"></div>
            </div>
            <div class="home-list">
                <div class="empty"></div>
                <dl>
                    <dt><img src="./src/images/img3.png"><span>全集59集</span></dt>
                    <dd>
                        <h4>陆贞传奇</h4>
                        <p>讲述了北齐王朝女官陆贞...</p>
                        <p>价格：<span>0.5</span></p>
                    </dd>
                </dl>
                <div class="empty"></div>
                <dl>
                    <dt><img src="./src/images/img4.png"><span>1期全</span></dt>
                    <dd>
                        <h4>大笑江湖</h4>
                        <p>吴迪(小沈阳 饰)以修鞋为...</p>
                        <p>价格：<span>0.3</span></p>
                    </dd>
                </dl>
                <div class="empty"></div>
            </div>
        </div>
    </div>
</div>

