<div class="feedback">
    <header class="header">
        <i>back</i>
        <h2>用户反馈</h2>
        <i>search</i>
        <i>more</i>
    </header>
    <div class="main">
        <h4>我反馈的问题（常见问题）</h4>
        <div class="content">
            <div class="radio">
                <p>
                    <label for="">
                        <input type="radio" name="question" id="">
                        卡顿
                    </label>
                    <label for="">
                        <input type="radio" name="question" id="">
                        下载无故中断
                    </label>
                </p>
                <p>
                    <label for="">
                        <input type="radio" name="question" id="">
                        自动退出
                    </label>
                    <label for="">
                        <input type="radio" name="question" id="">
                        提示播放错误
                    </label>
                </p>
                <p>
                    <label for="">
                        <input type="radio" name="question" id="">
                        提示网络错误
                    </label>
                    <label for="">
                        <input type="radio" name="question" id="">
                        其他
                    </label>
                </p>
            </div>
            <ul>
                <li>详细描述你的问题</li>
                <li><input type="text" placeholder="请输入："></li>
            </ul>
            <ul>
                <li>您的联系方式</li>
                <li><input type="text" placeholder="邮箱/QQ/电话"></li>
            </ul>
            <ul>
                <li>您看的视频是</li>
                <li><input type="text" placeholder="视频名称（非必填）"></li>
            </ul>
        </div>
    </div>
</div>