<div class="personal_vip">
    <header class="header">
        <i>back</i>
        <h2>开通会员</h2>
    </header>
    <div class="main">
        <h4>购买会员</h4>
        <ul>
            <li>一个月  <em>20</em>元 <i> （30元）</i><span>立即开通</span></li>
            <li>三个月  <em>60</em>元 <i> （120元）</i><span>立即开通</span></li>
            <li>半年  <em>120</em>元 <i> （180元）</i><span>立即开通</span></li>
            <li>一年  <em>200</em>元 <i> （320元）</i><span>立即开通</span></li>
        </ul>
        <h4>会员特权</h4>
        <ol>
            <li>
                <span>海量片库</span>
                <span>免广告</span>
                <span>点播半价</span>
            </li>
            <li>
                <span>提前预约</span>
                <span>尊贵身份标识</span>
                <span>享生活</span>
            </li>
        </ol>
    </div>
</div>