<div class="photo">
    <header class="header">
        <i>back</i>
        <h2>选择相册</h2>
        <i>search</i>
        <i>more</i>
    </header>
    <div class="main">
        <dl>
            <dt><img src="./src/images/img23.png" alt=""></dt>
            <dd>
                <em>最近相册（<span>100</span>）</em>
                <i>></i>
            </dd>
        </dl>
        <dl>
            <dt><img src="./src/images/img24.png" alt=""></dt>
            <dd>
                <em>Camera（<span>20</span>）</em>
                <i>></i>
            </dd>
        </dl>
    </div>
</div>