html{
  font-size: 100px;
}
.section{
  position: relative;
  height:100%;
  widows:100%;
}
.ng-scope{
  position: absolute;
  height:100%;
  width:100%;
}
body{
  width:100%;
  height:100%;
  overflow: hidden;
}

.offline{
  display: -webkit-flex;
  -webkit-flex-direction: column;
  //-------------------------header--------------------------
  .header{
    height:.44rem;
    background-color: #333333;
    color: #ffffff;
    font-size: .14rem;
    h2{
      width:100%;
      height:100%;
      text-align: center;
      line-height: .44rem;
      color: #ffffff;
    }
    i{
      position: absolute;
      color: #ffffff;
      top:10px;
      &:first-child{
        left:10px;
      }
      &:nth-of-type(2){
        right:30px;
      }
      &:last-child{
        right:10px;
        top:10px;
      }
    }
  }
  //-------------------------section--------------------------
  .main{
    padding: 0 15px;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-flex:1;
    width:100%;
    .nav{
      width:100%;
      height:.44rem;
      border-bottom: 1px solid #336799;
      font-size: .14rem;
      display: -webkit-flex;
      margin-bottom: 10px;
      span{
        -webkit-flex:1;
        display: inline-block;
        height:100%;
        line-height: .44rem;
        text-align: center;
      }
      .active{
        color: #346699;
      }
    }
    .swiper-container{
      position: relative;
      -webkit-flex: 1;
      width:100%;
      .swiper-wrapper{
        position: absolute;
        width:100%;
        height:100%;
        .swiper-slide{
          width:100%;
          display: -webkit-flex;
          -webkit-flex-direction: column;
        }
      }
    }
    .content{
      -webkit-flex: 1;
      width:100%;
      dl{
        width:100%;
        display: -webkit-flex;
        margin-bottom: .1rem;
        dt{
          width: 1.4rem;
          height:1rem;
          margin-right: 10px;
          //font-size: 0;
          img{
            width:100%;
            display: block;
          }
        }
        dd{
          -webkit-flex:1;
          font-size: .14rem;
          position: relative;
          padding-top: 10px;
          h6{
            width: 1.2rem;
            height:.08rem;
            background-color: #999;
            border-radius: .1rem;
            margin-top: .07rem;
            margin-bottom: .07rem;
          }
          span{
            display: block;
            width:.4rem;
            height:.25rem;
            position: absolute;
            top:20px;
            right:0;
            text-align: center;
            line-height:.3rem;
            color: red;
            font-size: .12rem;
          }
        }
      }
    }
    .nav-bottom{
      width:100%;
      height:.5rem;
      font-size: .2rem;
      display: -webkit-flex;
      span{
        -webkit-flex:1;
        height:100%;
        display: inline-block;
        line-height: .5rem;
        text-align: center;
      }
    }
  }
}