html {
  font-size: 100px; }

.section {
  position: relative;
  height: 100%;
  widows: 100%; }

.ng-scope {
  position: absolute;
  height: 100%;
  width: 100%; }

body {
  width: 100%;
  height: 100%;
  overflow: hidden; }

.offline {
  display: -webkit-flex;
  -webkit-flex-direction: column; }
  .offline .header {
    height: .44rem;
    background-color: #333333;
    color: #ffffff;
    font-size: .14rem; }
    .offline .header h2 {
      width: 100%;
      height: 100%;
      text-align: center;
      line-height: .44rem;
      color: #ffffff; }
    .offline .header i {
      position: absolute;
      color: #ffffff;
      top: 10px; }
      .offline .header i:first-child {
        left: 10px; }
      .offline .header i:nth-of-type(2) {
        right: 30px; }
      .offline .header i:last-child {
        right: 10px;
        top: 10px; }
  .offline .main {
    padding: 0 15px;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-flex: 1;
    width: 100%; }
    .offline .main .nav {
      width: 100%;
      height: .44rem;
      border-bottom: 1px solid #336799;
      font-size: .14rem;
      display: -webkit-flex;
      margin-bottom: 10px; }
      .offline .main .nav span {
        -webkit-flex: 1;
        display: inline-block;
        height: 100%;
        line-height: .44rem;
        text-align: center; }
      .offline .main .nav .active {
        color: #346699; }
    .offline .main .swiper-container {
      position: relative;
      -webkit-flex: 1;
      width: 100%; }
      .offline .main .swiper-container .swiper-wrapper {
        position: absolute;
        width: 100%;
        height: 100%; }
        .offline .main .swiper-container .swiper-wrapper .swiper-slide {
          width: 100%;
          display: -webkit-flex;
          -webkit-flex-direction: column; }
    .offline .main .content {
      -webkit-flex: 1;
      width: 100%; }
      .offline .main .content dl {
        width: 100%;
        display: -webkit-flex;
        margin-bottom: .1rem; }
        .offline .main .content dl dt {
          width: 1.4rem;
          height: 1rem;
          margin-right: 10px; }
          .offline .main .content dl dt img {
            width: 100%;
            display: block; }
        .offline .main .content dl dd {
          -webkit-flex: 1;
          font-size: .14rem;
          position: relative;
          padding-top: 10px; }
          .offline .main .content dl dd h6 {
            width: 1.2rem;
            height: .08rem;
            background-color: #999;
            border-radius: .1rem;
            margin-top: .07rem;
            margin-bottom: .07rem; }
          .offline .main .content dl dd span {
            display: block;
            width: .4rem;
            height: .25rem;
            position: absolute;
            top: 20px;
            right: 0;
            text-align: center;
            line-height: .3rem;
            color: red;
            font-size: .12rem; }
    .offline .main .nav-bottom {
      width: 100%;
      height: .5rem;
      font-size: .2rem;
      display: -webkit-flex; }
      .offline .main .nav-bottom span {
        -webkit-flex: 1;
        height: 100%;
        display: inline-block;
        line-height: .5rem;
        text-align: center; }

/*# sourceMappingURL=offline.css.map */
