* {
  box-sizing: border-box; }

html {
  font-size: 100px; }

.section {
  position: relative;
  height: 100%;
  widows: 100%; }

.ng-scope {
  position: absolute;
  height: 100%;
  width: 100%; }

body {
  width: 100%;
  height: 100%;
  overflow: hidden; }

.feedback {
  display: -webkit-flex;
  -webkit-flex-direction: column; }
  .feedback .header {
    height: .44rem;
    background-color: #333333;
    color: #ffffff;
    font-size: .14rem; }
    .feedback .header h2 {
      width: 100%;
      height: 100%;
      text-align: center;
      line-height: .44rem;
      color: #ffffff; }
    .feedback .header i {
      position: absolute;
      color: #ffffff;
      top: 10px; }
      .feedback .header i:first-child {
        left: 10px; }
      .feedback .header i:nth-of-type(2) {
        right: 30px; }
      .feedback .header i:last-child {
        right: 10px;
        top: 10px; }
  .feedback .main {
    padding: 0 15px;
    width: 100%;
    height: 100%;
    font-size: .14rem;
    background: #E8E4E5;
    display: -webkit-flex;
    -webkit-flex-direction: column; }
    .feedback .main h4 {
      height: .3rem;
      line-height: .3rem;
      font-weight: normal;
      font-size: .14rem; }
    .feedback .main .content {
      background-color: #fff;
      -webkit-flex: 1; }
      .feedback .main .content p {
        height: .4rem;
        line-height: .4rem;
        display: -webkit-flex;
        padding-left: 1em; }
        .feedback .main .content p label {
          display: inline-block;
          -webkit-flex: 1; }
      .feedback .main .content ul {
        border: 1px solid #CDCDCD;
        margin-bottom: 10px; }
        .feedback .main .content ul li {
          height: .3rem;
          line-height: .3rem;
          font-size: .16rem;
          font-weight: normal; }
          .feedback .main .content ul li:first-child {
            border-bottom: 1px solid #CDCDCD;
            padding-left: 1em; }
          .feedback .main .content ul li input {
            padding-left: 1em;
            border: 0;
            outline: none;
            width: 100%;
            height: 100%;
            border-bottom: 1px solid #CDCDCD; }

/*# sourceMappingURL=feedback.css.map */
