html {
  font-size: 100px; }

.section {
  position: relative;
  height: 100%;
  widows: 100%; }

.ng-scope {
  position: absolute;
  height: 100%;
  width: 100%; }

body {
  width: 100%;
  height: 100%;
  overflow: hidden; }

.personal_vip {
  display: -webkit-flex;
  -webkit-flex-direction: column; }
  .personal_vip .header {
    height: .44rem;
    background-color: #333333;
    color: #ffffff; }
    .personal_vip .header h2 {
      width: 100%;
      height: 100%;
      text-align: center;
      line-height: .44rem;
      font-size: .18rem;
      font-weight: normal;
      color: #ffffff; }
    .personal_vip .header i {
      position: absolute;
      color: #ffffff;
      top: 10px;
      font-size: .14rem; }
      .personal_vip .header i:first-child {
        left: 10px; }
      .personal_vip .header i:nth-of-type(2) {
        right: 30px; }
      .personal_vip .header i:last-child {
        right: 10px;
        top: 10px; }
  .personal_vip .main {
    padding: 0 15px;
    width: 100%;
    height: 100%;
    font-size: .14rem;
    background: #E8E4E5; }
    .personal_vip .main b {
      text-decoration: line-through; }
    .personal_vip .main hr {
      display: inline-block;
      width: 30%; }
    .personal_vip .main h4 {
      width: 100%;
      height: .3rem;
      line-height: .3rem;
      padding-left: 1em;
      font-weight: normal; }
    .personal_vip .main ul {
      background: #fff;
      margin-bottom: .1rem; }
      .personal_vip .main ul li {
        width: 100%;
        height: .4rem;
        line-height: .4rem;
        padding-left: 1em;
        position: relative; }
        .personal_vip .main ul li em {
          color: #CC3232; }
        .personal_vip .main ul li i {
          text-decoration: line-through;
          color: #666; }
        .personal_vip .main ul li span {
          position: absolute;
          top: .05rem;
          right: 10px;
          display: inline-block;
          background-color: #CC0114;
          width: .8rem;
          height: .2rem;
          color: #fff;
          font-size: .14rem;
          line-height: .2rem;
          text-align: center;
          border-radius: 5px; }
    .personal_vip .main ol {
      background-color: #fff; }
      .personal_vip .main ol li {
        width: 100%;
        height: .4rem;
        line-height: .4rem;
        padding-left: 1em; }
        .personal_vip .main ol li span {
          display: inline-block;
          width: 30%;
          text-align: center; }

/*# sourceMappingURL=personalvip.css.map */
