html{
  font-size: 100px;
}
.section{
  position: relative;
  height:100%;
  widows:100%;
}
.ng-scope{
  position: absolute;
  height:100%;
  width:100%;
}
body{
  width:100%;
  height:100%;
  overflow: hidden;
}

.personal_vip{
  display: -webkit-flex;
  -webkit-flex-direction: column;
  //-------------------------header--------------------------
  .header{
    height:.44rem;
    background-color: #333333;
    color: #ffffff;
    h2{
      width:100%;
      height:100%;
      text-align: center;
      line-height: .44rem;
      font-size: .18rem;
      font-weight: normal;
      color: #ffffff;
    }
    i{
      position: absolute;
      color: #ffffff;
      top:10px;
      font-size: .14rem;
      &:first-child{
        left:10px;
      }
      &:nth-of-type(2){
        right:30px;
      }
      &:last-child{
        right:10px;
        top:10px;
      }
    }
  }
  //-------------------------section--------------------------
  .main{
    padding: 0 15px;
    width:100%;
    height:100%;
    font-size: .14rem;
    background: #E8E4E5;
    b{
      text-decoration: line-through;
    }
    hr{
      display: inline-block;
      width:30%;
    }
    h4{
      width:100%;
      height:.3rem;
      line-height:.3rem;
      padding-left: 1em;
      font-weight:normal;
    }
    ul{
      background: #fff;
      margin-bottom: .1rem;
      li{
        width:100%;
        height:.4rem;
        line-height:.4rem;
        padding-left: 1em;
        position: relative;
        em{
          color: #CC3232;
        }
        i{
          text-decoration:line-through;
          color: #666;

        }
        span{
          position: absolute;
          top:.05rem;
          right:10px;
          display: inline-block;
          background-color: #CC0114;
          width:.8rem;
          height:.2rem;
          color: #fff;
          font-size: .14rem;
          line-height:.2rem;
          text-align: center;
          border-radius: 5px;
        }
      }
    }
    ol{
      background-color: #fff;
      li{
        width:100%;
        height:.4rem;
        line-height:.4rem;
        padding-left: 1em;
        span{
          display: inline-block;
          width:30%;
          text-align: center;
        }
      }
    }
  }
}