* {
  box-sizing: border-box; }

html {
  font-size: 100px; }

.section {
  position: relative;
  height: 100%;
  widows: 100%; }

.ng-scope {
  position: absolute;
  height: 100%;
  width: 100%; }

body {
  width: 100%;
  height: 100%;
  overflow: hidden; }

.photo {
  display: -webkit-flex;
  -webkit-flex-direction: column; }
  .photo .header {
    height: .44rem;
    background-color: #333333;
    color: #ffffff;
    font-size: .14rem; }
    .photo .header h2 {
      width: 100%;
      height: 100%;
      text-align: center;
      line-height: .44rem;
      color: #ffffff; }
    .photo .header i {
      position: absolute;
      color: #ffffff;
      top: 10px; }
      .photo .header i:first-child {
        left: 10px; }
      .photo .header i:nth-of-type(2) {
        right: 30px; }
      .photo .header i:last-child {
        right: 10px;
        top: 10px; }
  .photo .main {
    padding: 15px 15px 0;
    width: 100%;
    height: 100%;
    font-size: .14rem;
    background: #E8E4E5;
    display: -webkit-flex;
    -webkit-flex-direction: column; }
    .photo .main dl {
      display: -webkit-flex;
      border-bottom: 1px solid #9A9899;
      padding-bottom: .1rem;
      margin-bottom: .1rem; }
      .photo .main dl dt {
        width: 1rem;
        margin-right: 10px; }
        .photo .main dl dt img {
          width: 100%; }
      .photo .main dl dd {
        -webkit-flex: 1;
        height: 100%;
        line-height: 1rem;
        font-size: .2rem;
        position: relative;
        color: #000; }
        .photo .main dl dd span {
          color: #ff0000; }
        .photo .main dl dd i {
          position: absolute;
          right: 0; }

/*# sourceMappingURL=photo.css.map */
