*{
  box-sizing:border-box;
}
html{
  font-size: 100px;
}
.section{
  position: relative;
  height:100%;
  widows:100%;
}
.ng-scope{
  position: absolute;
  height:100%;
  width:100%;
}
body{
  width:100%;
  height:100%;
  overflow: hidden;
}
.photo{
  display: -webkit-flex;
  -webkit-flex-direction: column;
  //-------------------------header--------------------------
  .header{
    height:.44rem;
    background-color: #333333;
    color: #ffffff;
    font-size: .14rem;
    h2{
      width:100%;
      height:100%;
      text-align: center;
      line-height: .44rem;
      color: #ffffff;
    }
    i{
      position: absolute;
      color: #ffffff;
      top:10px;
      &:first-child{
        left:10px;
      }
      &:nth-of-type(2){
        right:30px;
      }
      &:last-child{
        right:10px;
        top:10px;
      }
    }
  }
  //-------------------------section--------------------------
  .main{
    padding: 15px 15px 0;
    width:100%;
    height:100%;
    font-size: .14rem;
    background: #E8E4E5;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    dl{
      display: -webkit-flex;
      border-bottom: 1px solid #9A9899;
      padding-bottom: .1rem;
      margin-bottom: .1rem;
      dt{
        width:1rem;
        margin-right: 10px;
        img{
          width:100%;
        }
      }
      dd{
        -webkit-flex:1;
        height:100%;
        line-height: 1rem;
        font-size: .2rem;
        position: relative;
        color: #000;
        span{
          color: #ff0000;
        }
        i{
          position: absolute;
          right:0;
        }
      }
    }
  }
}