@import "reset";
html{
  font-size: 100px;
}
.app{
  width: 100%;
  height:100%;
  display: -webkit-flex;
  -webkit-flex-direction: column;
}
.section{
  width:100%;
  -webkit-flex: 1;
  overflow: hidden;
}
.app-view{
  width:100%;
  height:100%;
  overflow: hidden;
}
.footer{
  width: 100%;
  height: 44px;
  background: #333333;
  display: -webkit-flex;
  a{
    width: 25%;
    font-size: 14px;
    line-height: 44px;
    text-align: center;
    color:#336394;
  }
  .active{
    color:#fff;
  }
}

