* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-backface-visibility: hidden; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }
  table th, table td {
    vertical-align: top; }

fieldset, img {
  border: 0; }

/*img{
	display: block;
	width: 100%;
	height: 100%;
}*/
em, strong, b, i {
  font-style: normal;
  font-weight: normal; }

/*h1, h2, h3, h4, h5, h6
{
	font-weight:normal;
	font-size: 100%;
}
body, input, button, textarea
{
	font-family: sans-serif,Helvetica;
}
input{
	border: none;
}
a{ text-decoration:none;outline:none;}
a:hover{ cursor:pointer;}*/
html, body {
  /*-webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;*/
  height: 100%;
  width: 100%;
  /*color: #333;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;*/ }

body {
  position: relative;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden; }

html {
  font-size: 100px; }

ul, ol {
  list-style-type: none; }
  ul li, ol li {
    list-style: none; }

/*a, input, textarea, select {
	outline: 0;
	-webkit-appearance: none;
	font-size: 100%;
	border: 1px solid #fefefe;
}
$primary-color: #333;
a {
	color: $primary-color;
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0); // Removes the dark touch outlines on links in webkit browsers.

	&:active {
		color: darken($primary-color, 10%);
	}
}
::-webkit-input-placeholder { color:#cacaca;}
input:-moz-placeholder { color:#cacaca;}*/

/*# sourceMappingURL=reset.css.map */
