<div class="offline">
    <header class="header">
        <i>back</i>
        <h2>离线下载</h2>
        <i>search</i>
        <i>more</i>
    </header>
    <div class="main">
        <nav class="nav">
            <span class="active">下载</span>
            <span>本地</span>
        </nav>
        <div class="swiper-container" id="stop">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="content">
                        <dl>
                            <dt><img src="./src/images/img20.png" alt=""></dt>
                            <dd>
                                <p>美人如画（第一集）</p>
                                <h6></h6>
                                <p>7.3M/73.7M</p>
                                <span>下载中</span>
                            </dd>
                        </dl>
                        <dl>
                            <dt><img src="./src/images/img20.png" alt=""></dt>
                            <dd>
                                <p>美人如画（第一集）</p>
                                <h6></h6>
                                <p>7.3M/73.7M</p>
                                <span>下载中</span>
                            </dd>
                        </dl>
                        <dl>
                            <dt><img src="./src/images/img20.png" alt=""></dt>
                            <dd>
                                <p>美人如画（第一集）</p>
                                <h6></h6>
                                <p>7.3M/73.7M</p>
                                <span>下载中</span>
                            </dd>
                        </dl>
                    </div>
                    <div class="nav-bottom">
                        <span>全部暂停</span>
                        <span>删除</span>
                    </div>
                </div>
                    <div class="swiper-slide">
                    </div>
                </div>
            </div>
    </div>
</div>