
<div class="app">
    <div class="section">
        <div class="app-view" ui-view></div>
    </div>
    <footer class="footer">
        <a ui-sref="app" class="active">首页</a>
        <a>片库</a>
        <a ui-sref="app.offline">离线下载</a>
        <a ui-sref="app.personal">个人中心</a>
        <a ui-sref="app.home" class="active">首页</a>
        <a ui-sref="#">片库</a>
        <a ui-sref="#">离线下载</a>
        <a ui-sref="#">个人中心</a>
    </footer>
</div>