html, body {
  font-size: 100px;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.home-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: #E8E4E5; }

.home-head {
  width: 100%;
  height: .44rem;
  line-height: .44rem;
  background: #333;
  display: flex; }
  .home-head a {
    width: .15rem;
    height: .15rem;
    font-size: .2rem;
    color: #fff;
    text-decoration: none; }
    .home-head a:first-child {
      margin-left: .1rem; }
    .home-head a:last-child {
      margin-right: .1rem; }
  .home-head p {
    flex: 1;
    text-align: center;
    font-size: .18rem;
    color: #fff; }

.defaults {
  width: 100%;
  display: flex;
  margin-top: .1rem; }
  .defaults .empty2 {
    float: left;
    display: block;
    width: .05rem;
    height: .65rem; }
  .defaults dl {
    flex: 1;
    width: 100%; }
    .defaults dl dd {
      font-size: .16rem;
      text-align: center;
      line-height: .3rem;
      height: .3rem; }
    .defaults dl dt {
      width: 100%; }
      .defaults dl dt img {
        display: block;
        width: 100%;
        height: 100%; }

.skin {
  width: 100%;
  margin: .05rem; }
  .skin h5 {
    font-size: .14rem;
    background: #fff;
    height: .3rem;
    line-height: .3rem;
    padding-left: .1rem; }
    .skin h5:first-child {
      border-bottom: .01rem solid #ccc; }
    .skin h5 a {
      float: right;
      padding-right: .1rem;
      text-decoration: none; }
  .skin .pic {
    display: flex; }
    .skin .pic p {
      flex: 1;
      width: 1rem;
      float: left;
      margin-bottom: .05rem; }
      .skin .pic p img {
        display: block;
        width: 100%;
        height: 100%; }
    .skin .pic .empty2 {
      float: left;
      display: block;
      width: .05rem;
      height: .65rem; }

.home-content {
  width: 100%;
  flex: 1;
  overflow: hidden; }
  .home-content .home-main .home-banner {
    width: 100%; }
    .home-content .home-main .home-banner ul {
      width: 100%; }
      .home-content .home-main .home-banner ul li img {
        display: block;
        width: 100%;
        height: 100%; }
  .home-content .home-main .title {
    padding: .1rem 0;
    margin: 0 .1rem .08rem .1rem;
    border-bottom: .01rem solid #ccc;
    font-size: .12rem; }
    .home-content .home-main .title h2, .home-content .home-main .title h3 {
      font-size: .2rem; }
    .home-content .home-main .title p {
      width: 100%;
      height: .2rem;
      line-height: .2rem;
      overflow: hidden; }
      .home-content .home-main .title p span {
        color: red; }
  .home-content .home-main .home-list {
    width: 100%;
    display: flex;
    margin-bottom: .08rem; }
    .home-content .home-main .home-list .empty {
      width: .08rem; }
    .home-content .home-main .home-list dl {
      background: #fff;
      flex: 1; }
      .home-content .home-main .home-list dl dt {
        width: 100%;
        position: relative; }
        .home-content .home-main .home-list dl dt img {
          display: block;
          width: 100%;
          height: 100%; }
        .home-content .home-main .home-list dl dt span {
          position: absolute;
          display: block;
          width: 100%;
          left: 0;
          bottom: 0;
          font-size: .12rem;
          background: rgba(79, 78, 84, 0.7);
          color: #fff;
          padding-left: .05rem; }
      .home-content .home-main .home-list dl dd {
        padding-left: .05rem;
        display: block; }
        .home-content .home-main .home-list dl dd h4 {
          height: .25rem;
          line-height: .25rem;
          font-size: .14rem; }
        .home-content .home-main .home-list dl dd p {
          height: .25rem;
          line-height: .25rem;
          font-size: .12rem;
          overflow: hidden; }
          .home-content .home-main .home-list dl dd p span {
            color: red; }

/*# sourceMappingURL=style.css.map */
