html,body{
  font-size: 100px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.home-container{
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: #E8E4E5;
}

.home-head{
  width: 100%;
  height: .44rem;
  line-height: .44rem;
  background: #333;
  display: flex;
  a{
    width: .15rem;
    height: .15rem;
    font-size: .2rem;
    color:#fff;
    text-decoration: none;
    &:first-child{
      margin-left:.1rem;
    }
    &:last-child{
      margin-right:.1rem;
    }
  }
  p{
    flex:1;
    text-align: center;
    font-size: .18rem;
    color: #fff;
  }
}

.defaults{
  width: 100%;
  display: flex;
  margin-top: .1rem;
  .empty2{
    float: left;
    display: block;
    width: .05rem;
    height: .65rem;
  }
  dl{
    flex: 1;
    width: 100%;
    dd{
      font-size: .16rem;
      text-align: center;
      line-height: .3rem;
      height: .3rem;
    }
    dt{
      width: 100%;
      img{
        display:block ;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.skin{
  width: 100%;
  margin:.05rem;
  h5{
    font-size: .14rem;
    background: #fff;
    height: .3rem;
    line-height: .3rem;
    padding-left:.1rem;
    &:first-child{
      border-bottom:.01rem solid #ccc;
    }
    a{
      float: right;
      padding-right:.1rem;
      text-decoration: none;
    }
  }
  .pic{
    display: flex;
    p{
      flex:1;
      width: 1rem;
      float: left;
      margin-bottom:.05rem;
      img{
        display: block;
        width: 100%;
        height: 100%;
      }
    }
    .empty2{
      float: left;
      display: block;
      width: .05rem;
      height: .65rem;
    }
  }
}

.home-content{
  width: 100%;
  flex: 1;
  overflow: hidden;
  .home-main{
    .home-banner{
      width: 100%;
      ul{
        width: 100%;
        li{
          img{
            display: block;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
    .title{
      padding:.1rem 0;
      margin:0 .1rem .08rem .1rem;
      border-bottom:.01rem solid #ccc;
      font-size: .12rem;
      h2,h3{
        font-size: .2rem;
      }
      p{
        width: 100%;
        height: .2rem;
        line-height: .2rem;
        overflow: hidden;
        span{
          color: red;
        }
      }
    }

    .home-list{
      width: 100%;
      display: flex;
      margin-bottom: .08rem;
      .empty{
        width: .08rem;
      }
      dl{
        background: #fff;
        flex:1;
        dt{
          width: 100%;
          position: relative;
          img{
            display: block;
            width: 100%;
            height: 100%;
          }
          span{
            position: absolute;
            display: block;
            width: 100%;
            left: 0;
            bottom: 0;
            font-size: .12rem;
            background: rgba(79, 78, 84,0.7);
            color: #fff;
            padding-left:.05rem;
          }
        }
        dd{
          padding-left:.05rem;
          display: block;
          h4{
            height: .25rem;
            line-height: .25rem;
            font-size: .14rem;
          }
          p{
            height: .25rem;
            line-height: .25rem;
            font-size: .12rem;
            overflow: hidden;
            span{
              color: red;
            }
          }
        }
      }
    }
  }
}